.polygraphy {
  display: flex;
  padding-left: 350px;
  padding-top: 100px;
  padding-bottom: 200px;
  background-color: #eef9ff;
}

@media screen and (max-width: 1920px) {
  .polygraphy {
    padding-left: 150px;
    padding-bottom: 150px;
  }
}

@media screen and (max-width: 1200px) {
  .polygraphy {
    padding-left: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .polygraphy {
    padding-left: 60px;
    flex-direction: column;
    gap: 60px;
    padding-right: 60px;
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 650px) {
  .polygraphy {
    padding-left: 18px;
    padding-right: 18px;
    padding-bottom: 80px;
  }
}

.polygraphy__title {
  font-size: 60px;
  margin: 0;
  padding-bottom: 50px;
  font-weight: 700;
  color: #12abdb;
}

@media screen and (max-width: 1600px) {
  .polygraphy__title {
    font-size: 36px;

    padding-bottom: 30px;
  }
}

@media screen and (max-width: 650px) {
  .polygraphy__title {
    font-size: 24px;

    padding-bottom: 30px;
  }
}

.polygraphy__article {
  font-size: 24px;
  line-height: 32px;
  margin: 0;
  font-weight: 500;
}

@media screen and (max-width: 1600px) {
  .polygraphy__article {
    font-size: 18px;
    line-height: 26px;
  }
}

@media screen and (max-width: 650px) {
  .polygraphy__article {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
}

.polygraphy__column_right {
  position: relative;
  padding-right: 100px;
  margin-left: 100px;
}

@media screen and (max-width: 1350px) {
  .polygraphy__column_right {
    position: relative;
    padding-right: 60px;
    margin-left: 80px;
    align-self: center;
  }
}

@media screen and (max-width: 700px) {
  .polygraphy__column_right {
    padding-right: 0;
    margin-left: 0;
    align-self: center;
  }
}

.polygraphy__stand {
  position: absolute;
  top: -45px;
  left: -30px;
  z-index: 2;
  width: 760px;
}

@media screen and (max-width: 1600px) {
  .polygraphy__stand {
    top: -30px;
    left: -20px;
    width: 560px;
  }
}

@media screen and (max-width: 1350px) {
  .polygraphy__stand {
    top: -20px;
    left: -15px;
    width: 380px;
  }
}

@media screen and (max-width: 1000px) {
  .polygraphy__stand {
    top: -30px;
    left: -20px;
    width: 560px;
  }
}

@media screen and (max-width: 700px) {
  .polygraphy__stand {
    top: -18px;
    left: -10px;
    width: 300px;
  }
}

.polygraphy__posters-wrapper {
  overflow: hidden;
}
.polygraphy__posters {
  display: flex;
  width: 700px;
  transition: transform 1s ease;
}

@media screen and (max-width: 1600px) {
  .polygraphy__posters {
    width: 520px;
  }
}

@media screen and (max-width: 1350px) {
  .polygraphy__posters {
    width: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .polygraphy__posters {
    width: 520px;
  }
}

@media screen and (max-width: 700px) {
  .polygraphy__posters {
    width: 278px;
  }
}

.polygraphy__poster {
  width: 700px;
}

@media screen and (max-width: 1600px) {
  .polygraphy__poster {
    width: 520px;
  }
}

@media screen and (max-width: 1350px) {
  .polygraphy__poster {
    width: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .polygraphy__poster {
    width: 520px;
  }
}

@media screen and (max-width: 700px) {
  .polygraphy__poster {
    width: 278px;
  }
}

.polygraphy__button {
  z-index: 3;
  position: absolute;

  border: none;
  outline: none;
  background: transparent;
  transition: all 0.2s linear;
}

.polygraphy__button-next {
  top: 40%;
  right: 65px;
}

@media screen and (max-width: 1350px) {
  .polygraphy__button-next {
    top: 20%;
    right: 35px;
  }
}

@media screen and (max-width: 1000px) {
  .polygraphy__button-next {
    top: 40%;
    right: 25px;
  }
}

@media screen and (max-width: 700px) {
  .polygraphy__button-next {
    top: 40%;
    right: -30px;
  }
}

@media screen and (max-width: 350px) {
  .polygraphy__button-next {
    top: 60%;
    right: -15px;
  }
}

.polygraphy__button-prev {
  top: 40%;
  left: -35px;
}

@media screen and (max-width: 1350px) {
  .polygraphy__button-prev {
    top: 20%;
    left: -35px;
  }
}

@media screen and (max-width: 1000px) {
  .polygraphy__button-prev {
    top: 40%;
    left: -30px;
  }
}

@media screen and (max-width: 350px) {
  .polygraphy__button-prev {
    top: 60%;
    left: -15px;
  }
}

.polygraphy__button-ico {
  position: relative;
  background: #12abdb;
  padding: 5px;
  margin: 30px auto;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@media screen and (max-width: 650px) {
  .polygraphy__button-ico {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
}

.polygraphy__button-ico:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 14px;
  z-index: 1;
  display: block;
  width: 20px;
  height: 20px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
}

@media screen and (max-width: 650px) {
  .polygraphy__button-ico:after {
    left: 8px;
    top: 10px;

    width: 16px;
    height: 16px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
  }
}

.polygraphy__button-ico_next:after {
  transform: rotate(135deg);
}

.polygraphy__button-ico_prev:after {
  left: 15px;
  transform: rotate(-45deg);
}

@media screen and (max-width: 650px) {
  .polygraphy__button-ico_prev:after {
    left: 14px;
    transform: rotate(-45deg);
  }
}

.polygraphy__button-next:hover {
  animation: right 1s infinite;
}

.polygraphy__button-prev:hover {
  animation: left 1s infinite;
}

@keyframes right {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(5px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes left {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-5px, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
