.about-ietr{
 
  box-sizing: border-box;
  padding: 80px 350px 150px;
}

@media screen and (max-width: 1920px) {
  .about-ietr{
    padding: 80px 150px 0;
  }
}

@media screen and (max-width: 1200px) {
  .about-ietr{
    padding: 80px 50px 0 100px;
  }
}

@media screen and (max-width: 1024px) {
  .about-ietr{
    padding: 80px 20px 0 60px;
  }
}

.about-ietr__title{
  font-size: 50px; 
  line-height: 72px;   
  font-weight: 700;
  color: white;
  max-width: 1400px;
  margin: 0;
  padding-bottom: 45px;
}

@media screen and (max-width: 1600px) {
  .about-ietr__title{
    font-size: 36px;
    line-height: 44px; 
    max-width: 900px; 
  }
}

@media screen and (max-width: 1024px) {
  .about-ietr__title{
    padding-bottom: 25px;
  }
}

.about-ietr__subtitle{
  font-size: 44px; 
  line-height: 52px;   
  font-weight: 700;
  color: #12abdb;  
  margin: 0;
  padding-bottom: 40px;
}

@media screen and (max-width: 1600px) {
  .about-ietr__subtitle{
    font-size: 30px;   
    max-width: 900px; 
  }
}

@media screen and (max-width: 1024px) {
  .about-ietr__subtitle{
    padding-bottom: 15px;
  
  }
}


.about-ietr__content{
 display: flex;
 width: 100%;
 justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .about-ietr__content{
    flex-direction: column;
    
  }
}


.about-ietr__image{
  padding-top: 40px;
  height: 620px;
  object-fit: cover;
}

@media screen and (max-width: 1920px) {
  .about-ietr__image{
    height: 520px;
  }
}

@media screen and (max-width: 1600px) {
  .about-ietr__image{
    height: 420px;
  }
}

@media screen and (max-width: 1200px) {
  .about-ietr__image{
    height: 320px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .about-ietr__image{
    height: 380px;
    width: 600px;
    padding-bottom: 50px;
  }
}

.about-ietr__article-wrapper{
  font-size: 24px; 
  line-height: 32px;   
  font-weight: 500;
  color: white;
  max-width: 650px;
  width: 100%;
}

@media screen and (max-width: 1600px) {
  .about-ietr__article-wrapper{
    font-size: 18px; 
    line-height: 26px;
    padding-left: 40px;  
  }
}

@media screen and (max-width: 1200px) {
  .about-ietr__article-wrapper{
    max-width: 750px;
  }
}

@media screen and (max-width: 1024px) {
  .about-ietr__article-wrapper{
    padding-left: 0;
    max-width: 850px;
  }
}


.about-ietr__article{
  margin: 0;

}

.about-ietr__article_top{
  padding-bottom: 50px;
}