.company{
    background: linear-gradient(280deg, rgb(5, 36, 82) 24%, rgb(3, 85, 137) 95%); 
}

.company__intro{

  padding: 70px 150px 0;
  position: relative;
  
}

.company__title{
    font-size: 130px;    
    font-weight: 700;
    color: white;
    margin: 0;
    padding-top: 220px;
    padding-bottom: 30px;
    text-shadow: 0 0 60px #444;
}

.company__subtitle{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 500;
    color: white;
    padding: 0;
    margin: 0;
    max-width: 580px;
    padding-bottom: 270px;
}
.company__image{
    position: absolute;
    top: 60px;
    right: 0;
    height: 900px;
    object-fit: cover; 
    overflow-x: hidden;
    
}

.company__slcrolldown{
    position: absolute;
    left: 50%;
    bottom: -130px;
}

.company__waves{
    position: relative;
    height: 260px;
    overflow: hidden;
}
.company__wave1{
    z-index: 3;
    position: absolute;
    left:0;
    top:40px;
    overflow: hidden;
}
.company__wave2{
    position: absolute;
    top: 20px;
    z-index: 2;
    left: -5px;
    transform: rotate(1deg);
    overflow: hidden;
}
.company__wave3{
    position: absolute;
    top: 0;
    left: -5px;
    transform: rotate(2deg);
    z-index: 1;
}

.company__wave4{
    z-index: 3;
    position: absolute;
    left:0;
    top:0;
    overflow: hidden;
}
.company__wave5{
    position: absolute;
    top: 20px;
    z-index: 2;
    left: -5px;
    transform: rotate(1deg);
    overflow: hidden;
}
.company__wave6{
    position: absolute;
    top: 40px;
    left: -5px;
    transform: rotate(2deg);
    z-index: 1;
}