.company{
    background: linear-gradient(280deg, rgb(5, 36, 82) 24%, rgb(3, 85, 137) 95%); 
}

.company__intro{
  padding: 70px 150px 0;
}

.company__title{
    font-size: 130px;    
    font-weight: 700;    
    padding-top: 220px;   
}

.company__subtitle{
    font-size: 40px;    
    max-width: 580px;
    padding-bottom: 320px;
}
.company__image{
    position: absolute;
    top: 60px;
    right: 0;
    height: 900px;
    object-fit: cover; 
    overflow-x: hidden;    
}



.company__slcrolldown{
    position: absolute;
    left: 50%;
    bottom: -130px;
    z-index: 4;
}


