.threedinfo{
  padding: 100px 0 0 150px;
}

.threedinfo__title {
    font-size: 72px; 
    line-height: 86px;   
    font-weight: 700;
    color: white;
    max-width: 1200px;
    margin: 0;
    padding-bottom: 50px;
}

.threedinfo__content {
display: flex;
justify-content: space-between;
}

.threedinfo__column_right{
   width: 1100px;
  height: 700px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  transition: background-image .7s ease-in-out; 
  position: relative;
}


.threedinfo__column_left{
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 100px;
}

.threedinfo__item{
    max-width: 700px;
    display: flex;
   
}

.threedinfo__ico{
  height: 80px;
  width: 80px;
  align-self: center;
  padding-right: 50px;
}

.threedinfo__article {
  margin: 0;
  font-size: 24px; 
  line-height: 32px;   
  font-weight: 500;
  color: white;
  
}