.about-us {
  background-color: #eef9ff;
  display: flex;
  justify-content: space-between;
  padding: 0 350px;
  height: 100%;
  position: relative;
  padding-bottom: 150px;
  padding-top: 50px;
  gap: 40px;
}

@media screen and (max-width: 1920px) {
  .about-us {
    padding: 50px 50px 0 150px;
  }
}

@media screen and (max-width: 1200px) {
  .about-us {
    padding: 50px 50px 0 100px;
  }
}

@media screen and (max-width: 1000px) {
  .about-us {
    padding: 40px 30px 0 60px;
  }
}

@media screen and (max-width: 650px) {
  .about-us {
    padding: 10px 18px 0 18px;
    flex-direction: column;
  }
}

.about-us__title-wrapper {
  max-width: 800px;
  position: sticky;
  top: 80px;
  height: 100%;
}

@media screen and (max-width: 650px) {
  .about-us__title-wrapper {
    position: relative;
    padding-bottom: 40px;
  }
}

.about-us__title {
  font-size: 60px;
  color: #12abdb;
  font-weight: 700;
  margin: 0;
  padding-bottom: 32px;
}

@media screen and (max-width: 1600px) {
  .about-us__title {
    font-size: 40px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 650px) {
  .about-us__title {
    font-size: 24px;
    padding-bottom: 24px;
  }
}

.about-us__subtitle {
  font-size: 32px;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 1600px) {
  .about-us__subtitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 650px) {
  .about-us__subtitle {
    font-size: 18px;
  }
}

.about-us__list {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media screen and (max-width: 1600px) {
  .about-us__list {
    gap: 60px;
  }
}

@media screen and (max-width: 650px) {
  .about-us__list {
    gap: 30px;
  }
}

.about-us__item {
  padding-top: 40px;
  display: flex;
}

@media screen and (max-width: 1200px) {
  .about-us__item {
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .about-us__item {
    flex-direction: row;
  }
}

.about-us__item_ico {
  height: 100px;
  width: 100px;
  object-fit: cover;
  padding-right: 40px;
}

@media screen and (max-width: 1600px) {
  .about-us__item_ico {
    height: 90px;
    width: 90px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 1200px) {
  .about-us__item_ico {
    padding-right: 30px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 650px) {
  .about-us__item_ico {
    height: 80px;
    width: 80px;
    align-self: center;
    padding-right: 20px;
    padding-bottom: 0;
  }
}

@media screen and (max-width: 370px) {
  .about-us__item_ico {
    height: 60px;
    width: 60px;
    align-self: baseline;
  }
}

.about-us__item_title {
  font-size: 32px;
  color: #12abdb;
  padding-bottom: 16px;
  margin: 0;
}

@media screen and (max-width: 1600px) {
  .about-us__item_title {
    font-size: 28px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 650px) {
  .about-us__item_title {
    font-size: 24px;
    padding-bottom: 14px;
  }
}

.about-us__item_content {
  font-size: 20px;
  margin: 0;
}

@media screen and (max-width: 1600px) {
  .about-us__item_content {
    font-size: 18px;
    margin: 0;
  }
}

@media screen and (max-width: 1600px) {
  .about-us__item_content {
    font-size: 14px;
    margin: 0;
  }
}
