.whowe {
  width: 100%;  
  background-color: #eef9ff;
 padding-left: 150px;

 padding-bottom: 60px;
 padding-right: 100px;
   box-sizing: border-box;
   z-index: 3;
 
}


.whowe__parters {
  margin: 0 auto;  
}

.whowe__partners_title {
  align-items: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 500;
  color:#000;  
  text-align: center;
  padding-bottom: 50px;
  margin: 0;
}

.partners__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: wrap;    
}

.partners__row_top {

 padding-bottom: 40px;

}

.partners__img {
  height: 50px;
    -webkit-filter: grayscale(70%);
  -moz-filter: grayscale(70%);
  -ms-filter: grayscale(70%);
  -o-filter: grayscale(70%);
  filter: grayscale(70%);
  filter: gray; /* IE 6-9 */
  
  transition: filter 0.3s ease-in-out;
 
}
.partner__circle-ico {
  height:60px
}

.partner__rectangle-ico {
  height: 40px
}

.partner__rzd-ico {  
  height: 50px;
}

.partner__pkbct-ico {
  height: 65px;
  padding-right: 15px;
}
.partners__img:hover {
  
    -webkit-filter: grayscale(0);
  -moz-filter: grayscale(0);
  -ms-filter: grayscale(0);
  -o-filter: grayscale(0);
  filter: grayscale(0);
  filter: none; /* IE 6-9 */
  opacity: 1;
}