.main {
  margin: 0, auto;

  background: linear-gradient(270deg, rgb(5, 36, 82) 24%, rgb(3, 85, 137) 95%);
  z-index: 1;
  scroll-snap-type: y mandatory;
}

.main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main__slider {
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;

  padding-top: 70px;
  overflow: hidden;
  position: relative;
  padding-left: 150px;
  padding-bottom: 120px;
  margin-bottom: 80px;
}

.main__title {
  /* position: absolute;
  top: 220px;
  left: 150px; */

  font-size: 90px;
  line-height: 1.2;
  font-weight: 700;
  color: white;
  margin: 0;
  padding-top: 150px;
  /* text-shadow: 0 0 60px rgb(75, 74, 74); */
}

@media screen and (max-width: 1480px) {
  .main__title {
    font-size: 60px;
  }
}

.main__subtitle {
  /* position: absolute;
  top: 450px;
  left: 150px; */

  font-size: 40px;
  line-height: 1.2;
  font-weight: 400;
  color: white;
  max-width: 580px;
}

@media screen and (max-width: 1480px) {
  .main__subtitle {
    font-size: 30px;
    max-width: 440px;
  }
}

.main__image {
  position: absolute;
  top: -00px;
  right: -250px;
  max-height: 1000px;
}

@media screen and (max-width: 1800px) {
  .main__image {
    top: 100px;
    right: -200px;
    height: 800px;
  }
}

@media screen and (max-width: 1480px) {
  .main__image {
    top: 100px;
    right: -100px;
    height: 700px;
  }
}
.main__notes {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-top: 130px;
}

.main__note {
  color: #fff;
}

.main__note_title {
  font-size: 46px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding-bottom: 6px;
}

.main__note_subtitle {
  font-size: 20px;
  font-weight: 700;
  min-width: 200px;
  margin: 0;
}

.main__accordion {
  padding-top: 20px;
}

.main__solutions {
  background-color: #eef9ff;
}

.main__cases {
  background-color: #eef9ff;
  height: 1000px;
}

.main__news {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .main__section {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .main__section {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media screen and (max-width: 480px) {
  .main__subtitle {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }
}

.main__promo {
  padding-top: 75px;
  padding-bottom: 75px;
}

@media screen and (max-width: 900px) {
  .main__promo {
    padding-top: 140px;
    padding-bottom: 75px;
  }
}

@media screen and (max-width: 480px) {
  .main__promo {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.main__project {
  padding-top: 110px;
  padding-bottom: 110px;
}

@media screen and (max-width: 900px) {
  .main__project {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 480px) {
  .main__project {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.main__techs {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 900px) {
  .main__techs {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 480px) {
  .main__techs {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.main__about {
  padding-top: 110px;
  padding-bottom: 50px;
}

@media screen and (max-width: 900px) {
  .main__about {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 480px) {
  .main__about {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.main__portfolio {
  padding-top: 50px;
  padding-bottom: 125px;
}

@media screen and (max-width: 900px) {
  .main__portfolio {
    padding-top: 0;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 480px) {
  .main__portfolio {
    padding-bottom: 70px;
  }
}

.main_theme_darkblue {
  background-color: #282a32;
}
.main_theme_black {
  background-color: #202020;
}
.main_theme_grey {
  background-color: #272727;
}
