
.main {
  margin: 0, auto;

  background: linear-gradient(270deg, rgb(5, 36, 82) 24%, rgb(3, 85, 137) 95%);  
  z-index: 1;
  scroll-snap-type: y mandatory;    
  
}

.main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}


.noselect {	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



.main__slider { 

 height: 100vh; 
 padding-top: 70px;
 overflow: hidden;  
 position: relative;
 padding-left: 150px;
}

.main__title{
  /* position: absolute;
  top: 220px;
  left: 150px; */
  font-size: 90px;
  line-height: 1.2;
  font-weight: 700;
  color: white;
  margin: 0;
  padding-top: 180px;
  /* text-shadow: 0 0 60px rgb(75, 74, 74); */
}

.main__subtitle {
  /* position: absolute;
  top: 450px;
  left: 150px; */
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
  color: white;
  max-width: 580px;
}

.main__image {
  position: absolute;
  top: -00px;
  right: -250px;
  height: 1100px;
  object-fit: cover;  

}

.main__notes {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-top: 200px;
}

.main__note {
  color: #fff;
}

.main__note_title{
  font-size: 46px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  padding-bottom: 6px;
}

.main__note_subtitle{
  font-size: 20px;  
  font-weight: 700; 
  min-width: 200px;
  margin: 0;
}

.main__accordion {
  
  width: 100%;
  padding-top: 100px;
  scroll-snap-align: start;
  
}
.main_accordion_bg{
  position: relative;
  height: 400px;
  overflow: hidden;
}
.main__bg1{
  z-index: 3;
  position: absolute;
  left:0;
  top:0;
  overflow: hidden;
}
.main__bg2{
 position: absolute;
 top: -25px;
 z-index: 2;
 left: 0;
 transform: rotate(2deg);
 overflow: hidden;
}

.main__bg3{
  position: absolute;
  top: -60px;
  left: 0;
  transform: rotate(4deg);
  z-index: 1;
}

.main__whoweare {
  scroll-snap-align: start;
}

.main__whoweare_bg{
  position: relative;
  height: 250px;
  overflow: hidden;  
  z-index: 4;  
  
}

.main__bg4{
  position: absolute;
  top: -250px;
  left: 0;  
  z-index: 3;
 
}
.main__bg5{
  position: absolute;
  top: -230px;
  left: 0;
  transform: rotate(1deg);
  z-index: 2;
}
.main__bg6{
  position: absolute;  
  top: -210px;
  left: 0;  
  z-index: 1;
  transform: rotate(2deg);
}

.main__solutions {
  background-color: #eef9ff;
  scroll-snap-align: start;
}

.main__cases {
  scroll-snap-align: start;
  background-color: #eef9ff;
  height: 1000px;
}

.main__news {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .main__section {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .main__section {
    padding-left: 14px;
    padding-right: 14px;
  }
}





@media screen and (max-width: 480px) {
  .main__subtitle {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }
}

.main__promo {
  padding-top: 75px;
  padding-bottom: 75px;
}

@media screen and (max-width: 900px) {
  .main__promo {
    padding-top: 140px;
    padding-bottom: 75px;
  }
}

@media screen and (max-width: 480px) {
  .main__promo {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.main__project {
  padding-top: 110px;
  padding-bottom: 110px;
}

@media screen and (max-width: 900px) {
  .main__project {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 480px) {
  .main__project {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.main__techs {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 900px) {
  .main__techs {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 480px) {
  .main__techs {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.main__about {
  padding-top: 110px;
  padding-bottom: 50px;
}

@media screen and (max-width: 900px) {
  .main__about {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 480px) {
  .main__about {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.main__portfolio {
  padding-top: 50px;
  padding-bottom: 125px;
}

@media screen and (max-width: 900px) {
  .main__portfolio {
    padding-top: 0;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 480px) {
  .main__portfolio {
    padding-bottom: 70px;
  }
}

.main_theme_darkblue {
  background-color: #282a32;
}
.main_theme_black {
  background-color: #202020;
}
.main_theme_grey {
  background-color: #272727;
}
