.main {
  margin: 0, auto;
  /* background: linear-gradient(315deg, rgb(5, 36, 82) 76%, rgb(3, 85, 137) 97%); */
  background: linear-gradient(283deg, rgb(5, 36, 82) 39%, rgb(3, 85, 137) 95%);
  position: relative;
  z-index: 1;
  scroll-snap-type: y proximity;
  
  
}

.main__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}


.noselect {	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}



.main__slider { 
 background: linear-gradient(315deg, rgb(5, 36, 82) 39%, rgb(3, 85, 137) 95%);
 height: 100%;
 width: 100%; 
}

.slider__title{
  position: absolute;
  top: 220px;
  left: 150px;
  font-size: 90px;
  line-height: 1.2;
  font-weight: 700;
  color: white;
  margin: 0;
  padding-bottom: 300px;
  text-shadow: 0 0 60px #444;
}

.slider__subtitle {
  position: absolute;
  top: 450px;
  left: 150px;
  font-size: 40px;
  line-height: 1.2;
  font-weight: 500;
  color: white;
}


.img {
  width: 1920px;
  height: 400px;
}


.slide__title_span {
  border-top: 8px solid #12abdb;
}



.main__accordion {
  background: linear-gradient(235deg, rgb(5, 36, 82) 39%, rgb(3, 85, 137) 95%);
  width: 100%;
  padding-top: 100px;
  
}
.main_accordion_bg{
  position: relative;
  height: 400px;
  overflow: hidden;
}
.main__bg1{
  z-index: 3;
  position: absolute;
  left:0;
  top:0;
  overflow: hidden;
}
.main__bg2{
 position: absolute;
 top: -25px;
 z-index: 2;
 left: 0;
 transform: rotate(2deg);
 overflow: hidden;
}

.main__bg3{
  position: absolute;
  top: -60px;
  left: 0;
  transform: rotate(4deg);
  z-index: 1;
}

.main__whoweare {

}

.main__whoweare_bg{
  position: relative;
  height: 250px;
  overflow: hidden;  
  z-index: 4;  
  
}

.main__bg4{
  position: absolute;
  top: -250px;
  left: 0;  
  z-index: 3;
 
}
.main__bg5{
  position: absolute;
  top: -230px;
  left: 0;
  transform: rotate(1deg);
  z-index: 2;
}
.main__bg6{
  position: absolute;  
  top: -210px;
  left: 0;  
  z-index: 1;
  transform: rotate(2deg);
}

.main__solutions {
  background-color: #eef9ff;
}

.main__cases {
  
  background-color: #eef9ff;
  height: 1000px;
}
@media screen and (max-width: 768px) {
  .main__section {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .main__section {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.main__subtitle {
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-align: left;
  width: 100%;
  border-bottom: 1px solid #dadada;
  margin: 0;
  padding-bottom: 23px;
  max-width: 1140px;
}

@media screen and (max-width: 480px) {
  .main__subtitle {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 28px;
  }
}

.main__promo {
  padding-top: 75px;
  padding-bottom: 75px;
}

@media screen and (max-width: 900px) {
  .main__promo {
    padding-top: 140px;
    padding-bottom: 75px;
  }
}

@media screen and (max-width: 480px) {
  .main__promo {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.main__project {
  padding-top: 110px;
  padding-bottom: 110px;
}

@media screen and (max-width: 900px) {
  .main__project {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 480px) {
  .main__project {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.main__techs {
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 900px) {
  .main__techs {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 480px) {
  .main__techs {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.main__about {
  padding-top: 110px;
  padding-bottom: 50px;
}

@media screen and (max-width: 900px) {
  .main__about {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 480px) {
  .main__about {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.main__portfolio {
  padding-top: 50px;
  padding-bottom: 125px;
}

@media screen and (max-width: 900px) {
  .main__portfolio {
    padding-top: 0;
    padding-bottom: 90px;
  }
}

@media screen and (max-width: 480px) {
  .main__portfolio {
    padding-bottom: 70px;
  }
}

.main_theme_darkblue {
  background-color: #282a32;
}
.main_theme_black {
  background-color: #202020;
}
.main_theme_grey {
  background-color: #272727;
}
