.waves{
  position: relative;
  height: 300px;
  overflow: hidden;
 
}
.wave1{
  z-index: 3;
  position: absolute;
  left:0;
  top:40px;
  overflow: hidden;

  
  
}
.wave2{
  position: absolute;
  top: 20px;
  z-index: 2;
  left: -5px;
  transform: rotate(1deg);
  overflow: hidden;
 
 
}
.wave3{
  position: absolute;
  top: 0;
  left: -5px;
  transform: rotate(2deg);
  z-index: 1;
  
}

.wave4{
  z-index: 3;
  position: absolute;
  left:0;
  top:0;
  overflow: hidden;
}
.wave5{
  position: absolute;
  top: 20px;
  z-index: 2;
  left: -5px;
  transform: rotate(1deg);
  overflow: hidden;
}
.wave6{
  position: absolute;
  top: 40px;
  left: -5px;
  transform: rotate(2deg);
  z-index: 1;
}