.navigation {
  width: 100%;
 
}

.navigation__menu {
  display: flex;
  justify-content: flex-end;
  height: 44px;
  z-index: 5;
}


.navigation__menu_type_header {
  width: 100%;
  padding-left: 0;
  align-self: center;
}

.navigation__button {
  outline: none;
  border: none;
  background: transparent; 
  padding: 0; 
}

.navigation__menu_type_burger {
  display: flex;
  align-items: center;
  position: relative;
}

.navigation__list {
  list-style-type: none;
  margin: 0;
}

.navigation__list_type_header {
  display: grid;
  
  grid-template-columns:   max-content max-content max-content max-content max-content max-content 1fr;
  gap: 20px;
  padding-left: 70px;
}

.navigation__list_type_burger {
  position: relative;
  width: 100%;
  padding-top: 137px;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

@media screen and (max-width: 600px) {
  .navigation__list_type_burger {
    padding-top: 120px;
  }
}

.navigation__item_position_right {
  margin-left: auto;
}

.navigation__item_position_bottom {
  margin-top: auto;
  margin-bottom: 90px;
}

@media screen and (max-width: 600px) {
  .navigation__item_position_bottom {
    margin-bottom: 45px;
  }
}

.navigation__item_type_profile {
  border: 2px solid rgba(170, 170, 170, 0.2);
  padding: 6px 11px;
  border-radius: 50px;
}

.navigation__item_type_burger {
  margin-top: 22px;
}

@media screen and (max-width: 600px) {
  .navigation__item_type_burger {
    margin-top: 15px;
  

  }
}

.navigation__link {
  text-decoration: none;
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}


.navigation__link_type_header {
  font-weight: 400;
  position: relative;
  font-size: 16px;
  line-height: 22px;
  height: 100%;
  color: #ffffff;
}

.navigation__link_type_header:after {
  display: block;
	position: absolute;
  align-self: start;
	left: 0;
  top:0; 
	width: 0;
	height: 3px; 
	background-color: #12abdb; 
	content: "";
	transition: width 0.3s ease-out;
  
}

.navigation__link_type_header:hover:after{
  width: 100%;
}

.navigation__link_active.navigation__link_type_header:after{
  width: 100%;
}

.navigation__link_type_burger {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding-bottom: 4px;
}


@media screen and (max-width: 600px) {
  .navigation__link_type_burger {
    padding-bottom: 5px;
    font-size: 14px;
    line-height: 18px;
    max-width: 270px;
    text-align: center;
  }
}

.navigation__link_type_profile {
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  justify-content: flex-end;
  background-image: url(../../images/profile__icon.svg);
  background-repeat: no-repeat;
  background-position: left;
  width: 100px;
}

.navigation__link_text_bold {
  font-weight: 500;
}

.navigation__link_type_active {
  border-top: 2px solid #12abdb;
}

.navigation__button_type_burger {
  border: none;
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: url(../../images/menu__icon.svg);
  background-position: center;
  cursor: pointer;
  transition: opacity .5s;
}

.navigation__button_type_burger:hover {
  opacity: 0.6;
}



.navigation__button_type_close {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  width: 22px;
  height: 22px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  background-image: url(../../images/close__icon.svg);
  background-position: center;
  cursor: pointer;
  transition: opacity .5s;
}

@media screen and (max-width: 600px) {
  .navigation__button_type_close {
    top: 14px;
    right: 14px;
  }
}

.navigation__button_type_close:hover {
  opacity: 0.6;
}

.navigation__sidebar {
  background:  #035184; 
  z-index: 8;
  width: 620px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  z-index: 9;
}

@media screen and (max-width: 780px) {
  .navigation__sidebar {
    width: 100%;
    
  }
}

@media screen and (max-width: 650px) {
  .navigation__sidebar {
   
    height: 92vh;
  }
}

.navigation__sidebar_type_opened {
  right: 0;
  transition: 350ms;
}

.navigation__sidebar_type_opened:before {
  content: '';
  width: 150%;
  height: 100vh;
  display: block;
  background: rgb(5, 36, 82);
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 620px;
}

@media screen and (max-width: 780px) {
  .navigation__sidebar_type_opened:before {
    display: none;
  }
}



.navigation__dropdown {
  box-shadow: rgb(0 23 146 / 5%) 0px 32px 32px 0px;
  background:   #035184;
  transform: translate(0px, -400px);
  display: block;
  width: 100%;
  height: 160px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform .7s cubic-bezier(.5,0,0,1);
}

.navigation__dropdown_active {
  transform: translate(0px, 0px);
}

.navigation__item-dropdown_wrapper {
  position: fixed;
  height: 0;
  left: 0;
  top: 60px;
  width: 100%;
  padding-left: 150px;
 
}

.navigation__item-dropdown_wrapper_active {
  height: 100%; 
}

.navigation__item-dropdown_content {
 display: flex;
 justify-content: flex-start;
 justify-items: left;
 flex-flow: wrap;
 
 padding-left: 156px;
 gap: 50px;
 
 transform: translate(0, -200px);
 transition: transform 0.7s cubic-bezier(.5,0,0,1);
 
}

.navigation__item-dropdown_content_active {
  transform: translate(0, 0);
 
}



.navigation__link_type_dropdown {
  font-weight: 500;
  max-width: 270px;
  text-decoration: none;
  font-size: 16px;
  line-height: 22px;  
  cursor: pointer;
  color: #ffffff;
  transition: color .5s ease-in-out;
  padding-top: 10px;
  padding-bottom: 10px;
}


.navigation__link_type_dropdown:hover{
  color: #12abdb;
  
}

.navigation__button-ico{
  transition: transform .6s ease-in-out;
}

.navigation__button-ico_active {
  transform: rotate(180deg);
  
}

