.isok {
   
    padding: 100px 50px 100px 150px;
    min-height: 1000px;
    box-sizing: border-box;
}

.isok__title {
    font-size: 60px; 
    line-height: 70px;   
    font-weight: 700;
    color: #12abdb;
    margin: 0;
    max-width: 1000px;
    padding-bottom: 50px;
}

.isok__container {
    display: flex;
    
    height: 100%;
    width: 100%;
}

.isok__column_left {
    justify-self: right;
}



.isok__video-content {

    position: relative;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 65px;
  
}

.isok__phone-img {
    filter: drop-shadow(10px 0 14px rgba(0,0,0,0.3));
  position: absolute;
  height: 760px;
  width: 430px;
  top: 14px;
  left: 0;
}

.isok__video-wrapper {
    overflow: hidden;
    
}

.isok__videos {
   
    display: flex;
    width: 400px;
    height: 705px;
    transition: transform 1s ease;
}

.isok__video {
    width: 400px;
    
}

.isok__monitor-img{
    position: absolute;  
    height: 705px;
    left: -32px;
    top: -32px;
}

.isok__column_right {
    padding-left: 150px;
    color: #fff;
}

.isok__discription {
    font-size: 24px; 
    line-height: 32px;   
    font-weight: 500;    
    max-width: 950px;
    margin: 0;    
    padding-bottom: 40px; 
    /* border-bottom: 1px solid rgb(18, 171, 219, 0.4);    */
}

.isok__button { 

    color: #fff;
}

.isok__button:hover {
    cursor: pointer;
}

.isok__capabilities {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}


.isok__capabilities-title {    
    font-size: 28px;  
    font-weight: 700;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;    
}

.isok__capabilities-title_active {
    color: #12abdb;
  }


.capabilities__button {
    margin: 0;
    outline: none;
    border: none;
    background: transparent;
    padding: 0;
    display: flex;
  }
  
  .capabilities__button:hover {
    cursor: pointer;
  }
  
  .capabilities__item-title {
    position: relative;
    padding-left: 10px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
    min-width: 330px;
    text-align: left;    
    margin: 0;
    background-image: linear-gradient(
      to right,
      black 20%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: bottom;
    background-size: 8px 1px;
    background-repeat: repeat-x;
    transition: text-shadow 0.4s ease-in-out;
  }
  
  .isok__item-title:before {
    content: "";
    background: #fff;
    width: 4px;
    height: 4px;
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
  }
  
  .capabilities__arrow {
    background-color: #caeffb;
    width: 24px;
    height: 24px;
    align-self: center;
    border-radius: 50%;
    margin-left: 20px;
    position: relative;
  }
  
  .capabilities__arrow:before {
    padding-left: 0px;
    width: 10px;
    height: 10px;
    border-top: 2px solid #767777;
    border-right: 2px solid #767777;
    position: absolute;
    top: 7px;
    right: 7px;
    content: "";
    box-sizing: border-box;
    transform: rotate(-225deg);
    transition: transform 0.4s ease-in-out;
  }
  
  .capabilities__arrow_active.capabilities__arrow:before {
    transform: rotate(-45deg);
  }
  
  .capabilities__dropdown {
    font-size: 18px;
    line-height: 32px;
    font-weight: 500; 
    margin: 0;
    max-height: 0;
    overflow: hidden;
    padding-left: 20px;
    padding-top: 8px;
    transition: 0.2s max-height ease-out;
  }
  
  .capabilities__dropdown_active {
    max-height: 1000px;
    transition: 0.5s max-height ease-in;
  }
  
  .capabilities__button:not(.capabilities__button_active):hover
    .capabilities__item-title {
    text-shadow: 0 0 15px #12abdb;
  }
  
  .capabilities__item-title_active {
    font-weight: 700;
    color: #12abdb;
  }


  .isok__item-title {
    background-image: linear-gradient(
        to right,
        white 20%,
        rgba(0, 0, 0, 0) 0%
      );
  }