.header {
  display: flex; 
  position: absolute;
  align-items: center;
  width: 100%;
  background: transparent;
  padding: 14px 150px;  
  gap: 44px;  
  margin: 0 auto;
  z-index: 5;
  height: 70px;
  box-sizing: border-box;
}


.header_sticky {

  background:  rgb(3, 85, 137, 0.9) ;
  position: fixed;
  height: 50px;
  top: 0;
  transition: all .7s ease-in-out;


}

@media screen and (max-width: 768px) {
  .header {
    padding: 14px 30px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 14px 14px;
  }
}



