.advantages {  
  padding: 0 350px 100px;
  
}

@media screen and (max-width: 1920px) {
  .advantages {
    padding: 0 150px 100px;
  }
}


@media screen and (max-width: 1600px) {
  .advantages {
    padding: 0 50px 50px 150px;
  }
}

@media screen and (max-width: 1300px) {
  .advantages {
    padding: 0 50px 50px 100px;
  }
}

@media screen and (max-width: 900px) {
  .advantages {
    padding: 0 20px 50px 60px;
  }
}

@media screen and (max-width: 650px) {
  .advantages {
    padding: 0 18px 50px 18px;
    position: relative;
    min-height: 300px;
  }
}

@media screen and (max-width: 420px) {
  .advantages {
    padding: 0 18px 50px 18px;
    position: relative;
    min-height: 300px;
    overflow: hidden;
  }
}


.advantages__title {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  color: white;
  max-width: 870px;
  padding-bottom: 100px;
  margin: 0; 
}



@media screen and (max-width: 1600px) {
  .advantages__title {
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 900px) {
  .advantages__title {
    font-size: 30px;
    line-height: 38px;
    padding-bottom: 80px;
    max-width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .advantages__title {
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 50px;
    max-width: 340px;
  }
}

@media screen and (max-width: 380px) {
  .advantages__title {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 50px;
    max-width: 340px;
  }
}


.advantages-list{
  display: flex;
  flex-flow: wrap;
  column-gap: 190px;
  row-gap: 50px;
 justify-content: space-between;

}

@media screen and (max-width: 1600px) {
  .advantages-list {
    column-gap: 60px;
  }
}

@media screen and (max-width: 1200px) {
  .advantages-list {
    column-gap: 40px;
    row-gap: 40px;
  }
}

@media screen and (max-width: 650px) {
  .advantages-list {
    column-gap: 18px;
   

  }
}

@media screen and (max-width: 420px) {
  .advantages-list {
    flex-flow: nowrap;
    
    transition: all 0.6s ease-in-out;
    position: absolute;
    top: 120px;
    left: 18px;
  }
}



.advantages__item{
  max-width: 550px;
}

.advantages__item_ico {
  height: 110px;
}

@media screen and (max-width: 1600px) {
  .advantages__item_ico {
    height: 90px;
  }
}

@media screen and (max-width: 1200px) {
  .advantages__item_ico {
    height: 70px;
  }
}

@media screen and (max-width: 650px) {
  .advantages__item_ico {
    height: 50px;
  }
}


.advantages__item_title{
  max-width: 350px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #12abdb;
  margin: 0;
  padding: 24px 0 32px 0;
  white-space: nowrap;
}

@media screen and (max-width: 1600px) {
  .advantages__item_title {
    font-size: 20px;
    line-height: 26px;
  }
}

@media screen and (max-width: 900px) {
  .advantages__item_title {
    font-size: 20px;
    line-height: 26px;
    padding: 20px 0 24px 0;
  }
}

@media screen and (max-width: 650px) {
  .advantages__item_title {
    font-size: 16px;
    line-height: 20px;
    padding: 20px 0 24px 0;
    white-space: normal;
    max-width: 150px;
  }
}



.advantages__item_content {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: white;
  max-width: 400px;
  margin: 0;
}

@media screen and (max-width: 1600px) {
  .advantages__item_content {
    font-size: 18px;
    line-height: 26px;
    max-width: 350px;
  }
}

@media screen and (max-width: 900px) {
  .advantages__item_content {
    font-size: 16px;
    line-height: 22px;
    max-width: 280px;
  }
}

@media screen and (max-width: 650px) {
  .advantages__item_content {
    font-size: 12px;
    line-height: 16px;
    max-width: 180px;
  }
}

@media screen and (max-width: 420px) {
  .advantages__item_content {
  
  width: 200px;
  }
}