.intro__wrapper {
    position: relative;

  background-repeat: no-repeat;
  background-image: var(--normal);
}

.intro__title {
    font-weight: 700;
    color: white;   
    margin: 0;    
    text-shadow: 0 0 60px #444;
}

.intro__subtitle {

    font-weight: 400;
    color: white;
    padding: 0;
    margin: 0;
}