.footer {
  background-color: #eef9ff;
  padding-left: 300px;
  padding-right: 100px;
  padding-bottom: 20px;
}

@media screen and (max-width: 1920px) {
  .footer {
    padding-left: 150px;
    padding-right: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    padding-left: 60px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    padding-left: 60px;
    padding-right: 0;
  }
}


@media screen and (max-width: 650px) {
  .footer {
    padding-left: 18px;
    padding-right: 0;
  }
}


.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo-wrapper {
  display: flex;
  align-items: top;
}

@media screen and (max-width: 1200px) {
  .footer__logo-wrapper {
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  .footer__logo-wrapper {
    flex-direction: column;
    justify-content: left;
    padding-top: 18px;
  }
}

.footer__logo {
  width: 120px;
  align-self: baseline;
}

@media screen and (max-width: 1200px) {
  .footer__logo {
    align-self: center;
  }
}

@media screen and (max-width: 1024px) {
  .footer__logo {
    width: 90px;
  }
}

@media screen and (max-width: 650px) {
  .footer__logo {
    width: 70px;
  }
}


.footer__tagline {
  margin: 0;
  padding-left: 30px;
  /* color:#12abdb; */
  font-size: 24px;
  line-height: 32px;
  max-width: 300px;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .footer__tagline {
    font-size: 18px;
    line-height: 26px;
    max-width: 230px;
  }
}

@media screen and (max-width: 650px) {
  .footer__tagline {
  padding-left: 0;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  }
}

.footer__contact {
  padding-right: 150px;
}

@media screen and (max-width: 1200px) {
  .footer__contact {
    padding-right: 50px;
  }
}

@media screen and (max-width: 500px) {
  .footer__contact {
    padding-right: 12px;
  }
}

.footer__contact_title {
  font-size: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 1024px) {
  .footer__contact_title {
    font-size: 18px;
    padding-left: 14px;
  }
}

@media screen and (max-width: 650px) {
  .footer__contact_title {
    font-size: 14px;
    padding-left: 12px;
  }
}


.footer__contact_item {
  font-size: 16px;
  padding-left: 20px;
  font-weight: 400px;
}

@media screen and (max-width: 1024px) {
  .footer__contact_item {
    font-size: 14px;
    padding-left: 14px;
  }
}

@media screen and (max-width: 650px) {
  .footer__contact_item {
    font-size: 12px;
    padding-left: 14px;
  }
}

.footer__contact_button {
  width: 170px;
  height: 44px;
  border: none;
  outline: none;
  background-color: #12abdb;
  color: white;
  font-size: 14px;
  border-radius: 22px;
  font-weight: 700;
  border: 2px solid #12abdb;
  transition: all 0.3s ease-in-out;
}


@media screen and (max-width: 1024px) {
  .footer__contact_button {
    font-size: 12px;
    width: 140px;
    height: 36px;
  }
}

@media screen and (max-width: 650px) {
  .footer__contact_button {
    font-size: 10px;
    width: 120px;
    height: 30px;
  }
}

.footer__contact_button:hover {
  background-color: transparent;
  color: #12abdb;
  cursor: pointer;
}
.footer__copyright {
  margin: 0;
}

.footer__thme_dark {
  color: #fff;
  background-color: transparent;
}
