.projectslist-wrapper {
  padding-left: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1300px) {
  .projectslist-wrapper{
    padding-left: 60px;
    
  }
}

@media screen and (max-width: 650px) {
  .projectslist-wrapper{
    padding-left: 0px;
    
  }
}

.projectslist {
  display: flex;  
  row-gap: 50px;
  column-gap: 40px;
  flex-wrap: wrap;
  padding-top: 20px;
  justify-content: center;
  
}

@media screen and (max-width: 1300px) {
  .projectslist{
    row-gap: 30px;
    column-gap: 30px;
    
  }
}


.projectslist__card {
  width: 550px;
  border-radius: 20%;
}

@media screen and (max-width: 1300px) {
  .projectslist__card{
    width: 420px;
    
  }
}

@media screen and (max-width: 930px) {
  .projectslist__card{
    width: 550px;    
  }
}

@media screen and (max-width: 650px) {
  .projectslist__card{
    width: 350px;    
  }
}

@media screen and (max-width: 650px) {
  .projectslist__card{
    width: 350px;    
  }
}

@media screen and (max-width: 390px) {
  .projectslist__card{
    width: 300px;    
  }
}


.projectslist__link {
  text-decoration: none;
  outline: none;
  color: #000;
  position: relative;
  overflow: hidden;
}

.projectslist__link:visited {
  color: #000;
}

.projectslist__image-wrapper {
  overflow: hidden;
  box-shadow: 5px -3px 20px 0px rgba(34, 60, 80, 0.2);
  height: 300px;
  transition: box-shadow 0.5s ease-in-out;
  position: relative;
  border-radius: 4px;
}

@media screen and (max-width: 1300px) {
  .projectslist__image-wrapper{
    height: 240px;
  }
}

@media screen and (max-width: 950px) {
  .projectslist__image-wrapper{
    height: 320px;
  }
}

@media screen and (max-width: 650px) {
  .projectslist__image-wrapper{
    height: 200px;
  }
}




.projectslist__card-poster {
  width: 550px;
  position: relative;
  transition: transform 1s ease-in-out;
}

@media screen and (max-width: 1300px) {
  .projectslist__card-poster{
    width: 420px;
  }
}

@media screen and (max-width: 930px) {
  .projectslist__card-poster{
    width: 550px;    
  }
}

@media screen and (max-width: 650px) {
  .projectslist__card-poster{
    width: 350px;    
  }
}

.projectslist__card-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #000;
}

@media screen and (max-width: 900px) {
  .projectslist__card-title{

    text-align: center; 
  }
}

@media screen and (max-width: 650px) {
  .projectslist__card-title{
    font-size: 12px;
    line-height: 16px;
  
  }
}


.projectslist__about-span {
  font-weight: 400;
  position: absolute;
  color: #fff;
  bottom: 0;
  right: 5%;
  opacity: 0;
  font-size: 14px;
  transition: opacity 1s ease-in-out;
  text-shadow: 0 0 60px #444;
}

.projectslist__link:hover .projectslist__image-wrapper {
  box-shadow: 0px -3px 18px 0px rgba(18, 171, 219, 0.3);
}

.projectslist__link:hover .projectslist__card-poster {
  transform: scale(1.1);
}

.projectslist__link:hover .projectslist__about-span {
  opacity: 1;
}


.projectlist__button {  
  height: 50px;
  border: none;
  outline: none;
  width: 150px;  
  border-radius: 25px;
  font-weight: 700;
  border: 2px solid #12abdb;
  color: #12abdb;
  background-color: transparent;
  cursor: pointer;
  transition: all .4s ease-in-out;
  margin-top: 30px;
}

.projectlist__button:hover {
  background-color: #12abdb;
  color: white;
}
