.databases{
    background: linear-gradient(280deg, rgb(5, 36, 82) 24%, rgb(3, 85, 137) 95%); 
}

.databases__intro{  
    padding: 70px 150px 100px;
    height: 100vh;
    }
    .databases__title{
        font-size: 86px;
        max-width: 560px;
        padding-top: 200px;
        padding-bottom: 30px; 
        
    }

    .databases__subtitle{
        font-size: 35px;
        line-height: 1.2;
        max-width: 700px;
    }