.contacts {
  background-image: var(--bg);
  background-image: var(--bg), linear-gradient(270deg, rgb(5, 36, 82) 24%, rgb(3, 85, 137) 95%);
   background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
   height: 100vh;
}

@media screen and (max-width: 650px) {
  .contacts{ 
    background-position: left 38% bottom ;
  }
}


.contacts__content {
    padding-top: 100px;
    padding-left: 350px;    
    color: white;      
}

@media screen and (max-width: 1920px) {
    .contacts__content{
        padding-top: 100px;
        padding-left: 150px;
    }
  }



  @media screen and (max-width: 1200px) {
    .contacts__content{ 
        padding-left: 100px;

    }
  }

  @media screen and (max-width: 1000px) {
    .contacts__content{ 
        padding-left: 60px;
    }
  }

  
  @media screen and (max-width: 650px) {
    .contacts__content{ 
        padding-left: 18px;
    }
  }

.contacts__title {  
    font-size: 50px;
    margin: 0;
    font-weight: 700;
    padding-bottom: 40px;
}

@media screen and (max-width: 1600px) {
    .contacts__title {  
        font-size: 40px;       
    }
  }

  @media screen and (max-width: 650px) {
    .contacts__title {  
        font-size: 30px;       
    }
  }


.contacts__column {
display: flex;
flex-direction: column;
row-gap: 24px;
}

@media screen and (max-width: 1280px) {
    .contacts__column {  
       flex-direction: row;
       max-width: 1000px;      
       flex-wrap: wrap;
       column-gap: 20px;
    }
  }

  @media screen and (max-width: 650px) {
    .contacts__column {  
        row-gap: 16x;
    }
  }


.contacts__detail-wrapper {
   display: flex; 
    
}
.contacts__links-wrapper {
    display: flex;
    column-gap: 0px;
}

.contacts__ico{
 height: 40px;
 align-self: center;
 padding-right: 20px;
}

@media screen and (max-width: 650px) {
    .contacts__ico{
        height: 30px;
        align-self: center;
        padding-right: 16px;
       }
  }

.contacts__detail-title{
    margin: 0;
    min-width: 400px;
    font-size: 20px;
    padding-bottom: 6px;
}


@media screen and (max-width: 1600px) {
    .contacts__detail-title{  
        font-size: 16px;      
    }
  }

  
@media screen and (max-width: 650px) {
    .contacts__detail-title{  
        font-size: 14px;      
    }
  }

  @media screen and (max-width: 1280px) {
    .contacts__detail-title{  
        min-width: 280px;     
    }
  }

  @media screen and (max-width: 650px) {
    .contacts__detail-title{  
        min-width: 20px;     
    }
  }

.contacts__link {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color .4s ease-in-out;
}

@media screen and (max-width: 1600px) {
    .contacts__link {       
        font-size: 14px;       
    }
  }

  @media screen and (max-width: 650px) {
    .contacts__link {       
        font-size: 12px;       
    }
  }

.contacts__link:hover {
  color: #12abdb;
}

.contacts_detail-info {
    margin: 0;
    font-size: 20px;
}

@media screen and (max-width: 1600px) {
    .contacts_detail-info  {       
        font-size: 14px;       
    }
  }

  @media screen and (max-width: 650px) {
    .contacts_detail-info  {       
        font-size: 12px;       
    }
  }

.contacts__form {
    display: flex;
    flex-direction: column;
}