.banner {
  width: 300px;
  padding-bottom: 20px;
}

@media screen and (max-width: 900px) {
  .banner {
    display: none;
  }
}

.banner_closed {
  display: none;
}

.banner__wrapper {
  position: relative;
}

.banner__description {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  max-width: 260px;
  margin: 0;
}

.banner__link {
  text-decoration: none;
  color: #12abdb;
  transition: all 0.4s ease-in-out;
}

.banner__link:hover {
  filter: drop-shadow(0 0 18px #12abdb);
  cursor: pointer;
}

.banner__btn_close {
  position: absolute;
  right: 15px;
  top: -5px;
  width: 15px;
  height: 15px;
  opacity: 0.6;
  background: transparent;
  border: none;
  transition: opacity 0.4s ease-in-out;
}

.banner__btn_close:hover {
  opacity: 1;
  cursor: pointer;
}
.banner__btn_close:before,
.banner__btn_close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 24px;
  width: 2px;
  background-color: #fff;
}
.banner__btn_close:before {
  transform: rotate(45deg);
}
.banner__btn_close:after {
  transform: rotate(-45deg);
}
