.learning{
    background: linear-gradient(280deg, rgb(5, 36, 82) 24%, rgb(3, 85, 137) 95%); 
  }
  
  .learning__intro{
  
  padding: 70px 150px 100px;
  position: relative;
  overflow: hidden;
  height: 100vh;
  box-sizing: border-box;
  }
  
  .learning__title{
    font-size: 72px; 
    line-height: 86px;   
    font-weight: 700;
    color: white;
    max-width: 1200px;
    margin: 0;
    padding-top: 200px;
    padding-bottom: 30px;
    text-shadow: 0 0 60px #444;
  }
  
  .learning__subtitle{
    font-size: 35px;
    line-height: 1.2;
    font-weight: 500;
    color: white;
    padding: 0;
    margin: 0;
    max-width: 720px;
  }
  .learning__image{
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 800px;
    object-fit: cover;   
    
  }
  .learning__vr{
    height: 700px;
    background-color: #eef9ff;
    padding: 100px 0px 100px 150px;
  }
  
  .learning__vr-title {
    font-size: 60px; 
    margin: 0;   
    padding-bottom: 50px;
    font-weight: 700;
  }

  .learning__vr-content{
    display: flex;
    justify-content: space-between;
    
  }

  .learning__vr-article{
    max-width: 700px;
    font-size: 30px; 
    line-height: 40px;
    margin: 0;  
  }

  .vr {
    position: relative;
    padding-left: 100px;
    width: 1050px;   
    
  }

  .vr__headset-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 1050px;
    height: 500px;
  }