.learning{
    background: linear-gradient(280deg, rgb(5, 36, 82) 24%, rgb(3, 85, 137) 95%); 
  }
  
  .learning__intro{  
  padding: 70px 150px 100px;
  height: 100vh;
  }
  
  .learning__title{
    font-size: 72px; 
    line-height: 86px;   
    font-weight: 700;
    color: white;
    max-width: 1200px;
    margin: 0;
    padding-top: 200px;
    padding-bottom: 30px;
    text-shadow: 0 0 60px #444;
  }
  
  .learning__subtitle{
    max-width: 720px;
  }

  .learning__vr{
    height: 700px;
    background-color: #eef9ff;
    padding: 100px 0px 100px 80px;
  }
  
  .learning__vr-title {
    font-size: 60px; 
    margin: 0;   
    padding-bottom: 50px;
    font-weight: 700;    
    
    color: #12abdb;
  }

  .learning__vr-content{
    display: flex;
    justify-content: space-between;
    
  }

  .learning__vr-article{
    max-width: 700px;
    font-size: 24px; 
    line-height: 32px;
    margin: 0;  
    padding-right: 80px;
  }

  .vr {
    position: relative;
    padding-left: 100px;
    width: 1050px;   
    
  }

  .vr__headset-img {
    position: absolute;
    top: 0;
    left: -0px;
    width: 1050px;
    height: 500px;
  }

 .learning__training {
   padding-left: 150px;
   padding-top: 100px;
 }

 .learning__training-title {
  font-size: 50px; 
  margin: 0;   
  padding-bottom: 50px;
  font-weight: 700;
  color: #fff;
  max-width: 900px;
 }

  .learning__training-content {
    display: flex;
    justify-content: space-between;
    padding-right: 300px;
  }

  .learning__training-article{
    max-width: 700px;
    font-size: 24px; 
    line-height: 32px;
    margin: 0; 
    color: #fff;
  }

  .learning__training-article {
    max-width: 800px;
  }

  .learning__training-phone-wrapper {
    position: relative;
  }

  .learning__training-phone-img {
    position: absolute;
    top: -13px;
    left: -7px;
    width: 380px;
  }